@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-primary-100: 148, 54%, 93%;
        --color-primary-200: 148, 66%, 85%;
        --color-primary-300: 148, 74%, 77%;
        --color-primary-400: 147, 72%, 67%;
        --color-primary-500: 148, 73%, 51%;
        --color-primary-600: 148, 67%, 49%;
        --color-primary-700: 148, 85%, 36%;
        --color-primary-800: 148, 94%, 26%;
        --color-primary-900: 147, 94%, 12%;

        --color-secondary-100: 204, 71%, 95%;
        --color-secondary-200: 202, 66%, 87%;
        --color-secondary-300: 202, 70%, 80%;
        --color-secondary-400: 202, 85%, 72%;
        --color-secondary-500: 202, 72%, 53%;
        --color-secondary-600: 202, 73%, 46%;
        --color-secondary-700: 202, 81%, 38%;
        --color-secondary-800: 201, 92%, 29%;
        --color-secondary-900: 202, 97%, 12%;

        --color-warning-100: 29, 60%, 89%;
        --color-warning-200: 28, 53%, 87%;
        --color-warning-300: 29, 68%, 78%;
        --color-warning-400: 29, 80%, 63%;
        --color-warning-500: 29, 69%, 52%;
        --color-warning-600: 29, 71%, 46%;
        --color-warning-700: 29, 83%, 40%;
        --color-warning-800: 29, 84%, 34%;
        --color-warning-900: 28, 85%, 21%;

        --color-danger-100: 0, 62%, 95%;
        --color-danger-200: 0, 67%, 87%;
        --color-danger-300: 0, 73%, 69%;
        --color-danger-400: 0, 77%, 66%;
        --color-danger-500: 0, 71%, 53%;
        --color-danger-600: 0, 70%, 49%;
        --color-danger-700: 0, 79%, 40%;
        --color-danger-800: 0, 86%, 31%;
        --color-danger-900: 0, 92%, 14%;

        --color-greyscale-100: 224, 20%, 89%;
        --color-greyscale-200: 224, 16%, 81%;
        --color-greyscale-300: 224, 17%, 70%;
        --color-greyscale-400: 224, 14%, 62%;
        --color-greyscale-500: 223, 18%, 46%;
        --color-greyscale-600: 223, 25%, 33%;
        --color-greyscale-700: 223, 40%, 24%;
        --color-greyscale-800: 223, 55%, 11%;
        --color-greyscale-900: 224, 63%, 9%;

        --color-bg-primary: 0, 0%, 100%;
        --color-text-primary: 0, 0%, 0%;
    }

    html, body {
        @apply bg-surface font-sans;
    }

    * {
        @apply leading-normal;
    }

    h1 {
        @apply text-6xl sm:text-8xl lg:text-9xl;
    }

    h2 {
        @apply text-4xl sm:text-5xl lg:text-7xl;
    }

    h3 {
        @apply text-lg sm:text-2xl md:text-4xl lg:text-6xl;
    }

    h4 {
        @apply text-base sm:text-xl md:text-3xl lg:text-5xl;
    }

    h5 {
        @apply text-sm sm:text-lg md:text-2xl lg:text-4xl;
    }

    h6 {
        @apply sm:text-3xl text-xl;
    }

    article, p, span {
        @apply text-base;
    }

    aside, caption {
        @apply text-sm;
    }
}
